<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql:hbn?characterEncoding=utf8&amp;useUnicode=true</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <!-- DB schema will be updated if needed -->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>-->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!--
        <mapping resource="com/yangzg/hibernate/model1/News.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model1/City.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model1/Order.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model1/Customer.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model1/Classroom.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model1/Student.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model1/Husband.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model1/Wife.hbm.xml"/>
        <mapping clacom.yangzg.hibernate.model1.Husband"/>
        <mapping clacom.yangzg.hibernate.model1.Wife"/>
        <mapping class="com.yangzg.hibernate.model1.Person"/>
        <mapping class="com.yangzg.hibernate.model1.Phone"/>
        <mapping resource="com/yangzg/hibernate/model2/Order.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model2/Customer.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model3/Order.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model3/Customer.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model4/Order.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model4/Customer.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model5/Wife.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model5/Husband.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model6/Wife.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model6/Husband.hbm.xml"/>
        -->
        <mapping resource="com/yangzg/hibernate/model7/Wife.hbm.xml"/>
        <mapping resource="com/yangzg/hibernate/model7/Husband.hbm.xml"/>
    </session-factory>
</hibernate-configuration>