<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <import resource="classpath*:/config2/dev/database.xml"/>
    <import resource="classpath*:/config2/prod/database.xml"/>
    <!--<import resource="classpath*:/config2/${spring.profiles.active:dev}/database.xml"/>-->
    <!--<bean id="profile" class="java.lang.String" c:_0="${spring.profiles.active:abc}"/>-->
</beans>