<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangzg.java.mybatis.mapper.GroupMapper">
    <resultMap id="groupMap" type="group">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="selectGroupById" parameterType="_int" resultMap="groupMap">
        <!-- select sql -->
        <![CDATA[
          SELECT * FROM `group` WHERE id = #{id} LIMIT 1
        ]]>
    </select>
</mapper>