<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangzg.java.mybatis.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
    </resultMap>

    <resultMap id="userWithGroupMap" type="user" extends="userMap">
        <association property="group">
            <id property="id" column="g_id"/>
            <result property="name" column="g_name"/>
        </association>
    </resultMap>

    <resultMap id="userWithGroupLazyMap" type="user" extends="userMap">
        <association property="group" select="com.yangzg.java.mybatis.mapper.GroupMapper.selectGroupById" column="g_id"/>
    </resultMap>

    <select id="selectUserById" parameterType="_int" resultMap="userMap">
        <!-- select sql -->
        <![CDATA[
          SELECT * FROM `user`
        ]]>
        <where>
            <if test="id">
                id = #{id}
            </if>
            <if test="@java.lang.Math@random() &gt; 1">
                and 1 = 1
            </if>
        </where>
        <![CDATA[
          LIMIT 1
        ]]>
    </select>

    <select id="selectAllUserLazy"  resultMap="userWithGroupLazyMap">
        <!-- select sql -->
        <![CDATA[
          SELECT * FROM `user`
        ]]>
    </select>

    <select id="selectMapById" parameterType="_int" resultMap="userMap">
        <![CDATA[
          SELECT * FROM `user`
        ]]>
        <where>
            <if test="id">
                id = #{id}
            </if>
        </where>
        LIMIT 1
    </select>

    <select id="selectAllListOfMap" resultMap="userMap">
        <![CDATA[
          SELECT * FROM `user`
        ]]>
    </select>

    <select id="selectUserWithGroupById" resultMap="userWithGroupMap">
        <![CDATA[
          SELECT
            `user`.*,
            `group`.id as g_id,
            `group`.name as g_name
          FROM `user`
          LEFT JOIN `group`
          ON `user`.g_id = `group`.id
        ]]>
        <where>
            <if test="id">
                `user`.id = #{id}
            </if>
        </where>
        <![CDATA[
          LIMIT 1
        ]]>
    </select>

    <select id="selectAllUserWithGroup" resultMap="userWithGroupMap">
        <![CDATA[
          SELECT
            `user`.*,
            `group`.id as g_id,
            `group`.name as g_name
          FROM `user`
          LEFT JOIN `group`
          ON `user`.g_id = `group`.id
        ]]>
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        <!-- insert sql -->
        <![CDATA[
          INSERT INTO `user`(username) VALUES(#{username})
        ]]>
    </insert>
</mapper>